system/system/app/Chrome/Chrome.apk
system/system/app/Maps/oat/arm64/Maps.odex
system/system/media/bootupResource/video/LAVA_demo_video.mp4
system/system/priv-app/GmsCore/oat/arm/GmsCore.odex
system/system/priv-app/GmsCore/oat/arm64/GmsCore.odex
system/system/priv-app/GmsCore/GmsCore.apk
system/system/priv-app/Velvet/oat/arm64/Velvet.odex
system/system/priv-app/Velvet/Velvet.apk
